node_modules/
dist/
.DS_Store
*.log

# Unused large assets
public/assets/cyberpunk_city.glb
public/assets/fantasyassets_-_vol3_trees_and_bushes.glb
public/assets/maple_tree.glb
public/assets/real_bush.glb
public/assets/3_pine_bushes.glb
